/* line 46, ../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 62, ../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 75, ../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 85, ../components/sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 98, ../components/sass/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 120, ../components/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 133, ../components/sass/_normalize.scss */
a {
  background: transparent;
}
/* line 140, ../components/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../components/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 160, ../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 165, ../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 170, ../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 175, ../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 180, ../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 185, ../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 193, ../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 212, ../components/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 218, ../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 234, ../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 247, ../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 255, ../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../components/sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 278, ../components/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 285, ../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 293, ../components/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 297, ../components/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 349, ../components/sass/_normalize.scss */
img {
  border: 0;
}

/* line 358, ../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 368, ../components/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 385, ../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 396, ../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 410, ../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 425, ../components/sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 435, ../components/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 471, ../components/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 484, ../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 494, ../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 503, ../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 512, ../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 523, ../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Core partials====*/
/*$buttonRadial: radial-gradient(circle, rgba(94,153,184,1), rgba(94,153,184,.5));
$inputLinear: linear-gradient(rgba(255, 255, 255,.90) 40%, rgba(255, 255, 255,.65) 60%);*/
/*Tribe colors*/
/* line 2, ../components/sass/_mixins.scss */
nav ul button, nav ul button:focus, .form fieldset .signUpFooter .prev, .form fieldset .signUpFooter .next, .button, .login .firstFooter.signUpFooter .signupbtn, nav ul button:hover, .form fieldset:before, .button:hover, .tribes .tribediv .hiddenTribe li, .tribes .tribediv .tribehead1 .tribetitle, .tribes .tribediv .tribehead2 .tribetitle, .tribes .tribediv .tribehead3 .tribetitle, .tribes .tribediv .tribehead4 .tribetitle, .tribes .tribediv .tribehead5 .tribetitle, .tribes .tribediv .tribehead6 .tribetitle, .tribes .tribediv .tribehead7 .tribetitle, .tribes .tribediv .tribehead8 .tribetitle8, .tribes .tribediv .tribehead9 .tribetitle, .tribes .tribediv .tribehead10 .tribetitle, .tribes .tribediv .tribehead11 .tribetitle, .tribes .tribediv .tribehead12 .tribetitle {
  font-weight: bold;
  font-size: 1.13em;
  color: rgba(68, 110, 133, 0.95);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}

/* line 9, ../components/sass/_mixins.scss */
nav ul button, nav ul button:focus, .form fieldset .signUpFooter .prev, .form fieldset .signUpFooter .next, .button, .login .firstFooter.signUpFooter .signupbtn {
  border: 0.98px solid rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0 4px rgba(94, 153, 184, 0.5), 0 0 1px 1.5px rgba(68, 110, 133, 0.95);
  border-radius: 1.5px;
  text-align: center;
  transition-duration: 1s;
  background: radial-gradient(#5e99b8 20%, rgba(94, 153, 184, 0.5));
  background-color: rgba(94, 153, 184, 0.45);
}

/* line 35, ../components/sass/_mixins.scss */
nav ul button:hover, nav ul button:hover:focus, .form fieldset .signUpFooter .prev:hover, .form fieldset .signUpFooter .next:hover, .button:hover, .login .firstFooter.signUpFooter .signupbtn:hover, nav ul button:focus, .form fieldset .signUpFooter .prev:focus, .form fieldset .signUpFooter .next:focus, .button:focus, .login .firstFooter.signUpFooter .signupbtn:focus, .tribes .tribediv .hiddenTribe li:hover {
  cursor: pointer;
  background: radial-gradient(circle, rgba(94, 153, 184, 0.1), rgba(94, 153, 184, 0.2));
  background-color: #00feb4;
  transition: background-color, .5s;
  color: rgba(82, 132, 160, 0.95);
}

/* line 44, ../components/sass/_mixins.scss */
nav ul button:focus, .form fieldset .signUpFooter .prev:focus, .form fieldset .signUpFooter .next:focus, .button:focus, .login .firstFooter.signUpFooter .signupbtn:focus, .login .loginOptions input:focus, .login .signUpOptions input:focus, .gender textarea:focus {
  outline: none;
  box-shadow: 0px 0px 6px rgba(2, 247, 49, 0.75), inset 0px 0px 6px rgba(103, 255, 39, 0.75);
}

/* line 50, ../components/sass/_mixins.scss */
.login .loginOptions input, .login .signUpOptions input {
  color: rgba(62, 35, 76, 0.85);
  background: linear-gradient(rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.65) 60%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0.5px 0.5px 1.5px rgba(94, 153, 184, 0.75), -0.5px -0.5px 1.5px rgba(94, 153, 184, 0.75);
}

/* line 14, ../components/sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../components/sass/_base.scss */
form * {
  background: transparent;
}

/* line 22, ../components/sass/_base.scss */
html {
  background: -webkit-linear-gradient(rgba(217, 235, 255, 0.75), rgba(138, 145, 158, 0.75));
  background: -o-linear-gradient(rgba(217, 235, 255, 0.75), rgba(138, 145, 158, 0.75));
  background: linear-gradient(rgba(217, 235, 255, 0.75), rgba(138, 145, 158, 0.75));
  box-shadow: inset 6px 12px 48px rgba(138, 145, 158, 0.75), inset -6px 0 48px rgba(138, 145, 158, 0.75);
}

/*============CLEAR DEFAULT INPUT STYLES============*/
/* line 33, ../components/sass/_base.scss */
input[type=text], input[type=email], input[type=password],
input[type=url], input[type=tel],
textarea, button, select {
  border: none;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

/* line 3, ../components/sass/_tab.scss */
nav ul {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
/* line 11, ../components/sass/_tab.scss */
nav ul button {
  list-style: none;
  width: 84px;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  padding: 2px 0;
  border-radius: 1.5px 1.5px 0 0;
}
/* line 30, ../components/sass/_tab.scss */
nav ul .logintab {
  float: right;
  margin-right: 6%;
  background: rgba(169, 183, 190, 0.725);
}
/* line 35, ../components/sass/_tab.scss */
nav ul .gendertab {
  margin-left: 6%;
  background: rgba(21, 232, 239, 0.725);
}
/* line 39, ../components/sass/_tab.scss */
nav ul .tribetab {
  background: rgba(161, 102, 71, 0.45);
}

/* line 45, ../components/sass/_tab.scss */
#hiddenField {
  display: none;
}

/*FORM*/
/* line 3, ../components/sass/_form_base.scss */
.form {
  font: .85em/1em Arial, Helvetica, Geneva, sans-serif;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
/* line 8, ../components/sass/_form_base.scss */
.form legend {
  display: none;
}
/* line 12, ../components/sass/_form_base.scss */
.form fieldset {
  border: none;
  background: silver;
  padding: 0;
  margin: 4px auto 6px;
  background: linear-gradient(rgba(143, 201, 255, 0.5), rgba(94, 153, 184, 0.75));
  box-shadow: inset 6px 6px 6px rgba(94, 153, 184, 0.5), inset -6px 0 6px rgba(94, 153, 184, 0.5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 27, ../components/sass/_form_base.scss */
.form fieldset:before {
  content: attr(title);
  display: block;
  padding: 0;
  padding: 24px 12px 18px;
  margin: 0 auto;
}
/* line 36, ../components/sass/_form_base.scss */
.form fieldset ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 41, ../components/sass/_form_base.scss */
.form fieldset ol li {
  position: relative;
  list-style: none;
  padding: 12px 6px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(99, 98, 99, 0.85);
}
/* line 48, ../components/sass/_form_base.scss */
.form fieldset ol li:first-child {
  border-top: none;
}
/* line 51, ../components/sass/_form_base.scss */
.form fieldset ol li:last-child {
  border-bottom: none;
}
/* line 58, ../components/sass/_form_base.scss */
.form fieldset .signUpFooter {
  height: 48px;
  margin: 0;
  box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.75), 0px -2px 0px rgba(99, 98, 99, 0.85);
}
/* line 63, ../components/sass/_form_base.scss */
.form fieldset .signUpFooter .prev {
  display: block;
  float: left;
  width: 72px;
  height: 24px;
  margin: 14px 0 0 24px;
  background: rgba(21, 232, 239, 0.725);
}
/* line 72, ../components/sass/_form_base.scss */
.form fieldset .signUpFooter .next {
  display: block;
  float: right;
  width: 72px;
  height: 24px;
  margin: 14px 24px 0 0;
  background: rgba(161, 102, 71, 0.45);
}

/* line 89, ../components/sass/_form_base.scss */
.button {
  width: 72px;
  padding: 4px;
  float: right;
  margin: 24px 48px 100% 0;
  background: rgba(218, 201, 41, 0.725);
}

/*============LOGIN INFO STYLES============*/
/* line 7, ../components/sass/_login.scss */
.login label {
  display: block;
  padding-left: 12.5%;
  margin-bottom: 8px;
  margin-top: 0;
  color: #426c82;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}
/* line 16, ../components/sass/_login.scss */
.login .loginOptions input, .login .signUpOptions input {
  display: block;
  width: 75%;
  height: 2em;
  margin: 0 auto;
  padding-left: 12px;
}
/* line 26, ../components/sass/_login.scss */
.login .loginOptions li:first-child {
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.85), 0 -2px 0 rgba(99, 98, 99, 0.75);
}
/* line 30, ../components/sass/_login.scss */
.login .loginOptions li:last-child {
  box-shadow: 0 1px 0 rgba(99, 98, 99, 0.85), 0 2px 0 rgba(255, 255, 255, 0.75);
}
/* line 36, ../components/sass/_login.scss */
.login .signUpOptions {
  display: none;
}
/* line 39, ../components/sass/_login.scss */
.login .signUpOptions li:last-child {
  box-shadow: 0 1px 0 rgba(99, 98, 99, 0.85), 0 2px 0 rgba(255, 255, 255, 0.75);
}
/* line 46, ../components/sass/_login.scss */
.login .firstFooter.signUpFooter {
  box-shadow: none;
}
/* line 48, ../components/sass/_login.scss */
.login .firstFooter.signUpFooter .signupbtn {
  display: block;
  float: left;
  width: 72px;
  height: 24px;
  margin: 14px 0 0 24px;
  background: rgba(169, 183, 190, 0.725);
}
/* line 57, ../components/sass/_login.scss */
.login .firstFooter.signUpFooter .next {
  background: rgba(21, 232, 239, 0.725);
}

/*============GENDER INFO STYLES============*/
/* line 3, ../components/sass/_gender.scss */
.infoheader {
  color: rgba(68, 110, 133, 0.9);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
  padding: 0 0 6px 12px;
  box-shadow: 0 1px 0 rgba(99, 98, 99, 0.85), 0 2px 0 rgba(255, 255, 255, 0.75);
}

/* line 11, ../components/sass/_gender.scss */
.gender {
  position: relative;
  /*======Styling for expanding textarea======*/
}
/* line 13, ../components/sass/_gender.scss */
.gender .type, .gender .orientation {
  margin: 0 12px;
}
/* line 15, ../components/sass/_gender.scss */
.gender .type li, .gender .orientation li {
  display: inline-block;
  border: none;
  padding-right: 6px;
}
/* line 19, ../components/sass/_gender.scss */
.gender .type li label, .gender .type li textarea, .gender .orientation li label, .gender .orientation li textarea {
  color: #426c82;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}
/* line 25, ../components/sass/_gender.scss */
.gender textarea {
  display: block;
  padding: 6px 6px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  box-shadow: 0.5px 0.5px 1.5px rgba(94, 153, 184, 0.96), -0.5px -0.5px 1.5px rgba(94, 153, 184, 0.96);
  color: rgba(62, 35, 76, 0.85);
}
/* line 45, ../components/sass/_gender.scss */
.gender .secondFooter.signUpFooter .prev {
  background: rgba(169, 183, 190, 0.725);
}
/* line 53, ../components/sass/_gender.scss */
.gender .txtstuff {
  resize: none;
  overflow: hidden;
}
/* line 57, ../components/sass/_gender.scss */
.gender .common {
  width: 75%;
  min-height: 64px;
  margin: 0 auto 16px;
  overflow: hidden;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
/* line 66, ../components/sass/_gender.scss */
.gender .hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* line 73, ../components/sass/_gender.scss */
.gender .lbr {
  line-height: 3px;
}

/*============TWELVE TRIBES INFO STYLES============*/
/* line 5, ../components/sass/_tribe.scss */
.tribes .tribediv {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  height: 100%;
  /*============TWELVE TRIBES LIST=============*/
}
/* line 10, ../components/sass/_tribe.scss */
.tribes .tribediv div {
  position: relative;
  width: 94%;
  height: 2.4em;
  margin: 2px 3%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 2px silver;
}
/* line 23, ../components/sass/_tribe.scss */
.tribes .tribediv div span:first-child {
  position: absolute;
  left: 8px;
  top: -0.1em;
  width: 2.6em;
  height: 2.6em;
  text-align: center;
  padding: 9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 1.5px rgba(136, 138, 137, 0.5);
}
/* line 37, ../components/sass/_tribe.scss */
.tribes .tribediv div span:first-child:hover {
  cursor: pointer;
}
/* line 43, ../components/sass/_tribe.scss */
.tribes .tribediv div span:last-child {
  float: right;
  width: 60%;
  margin: 0 auto;
  padding-top: 2px;
  text-align: center;
}
/* line 58, ../components/sass/_tribe.scss */
.tribes .tribediv .hiddenTribe {
  display: block;
  width: 40%;
  margin: 0 8% 12px 0;
  float: right;
}
/* line 65, ../components/sass/_tribe.scss */
.tribes .tribediv .hiddenTribe li {
  display: none;
  width: 100%;
  height: 2.1em;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  color: rgba(47, 77, 93, 0.95);
}
/* line 80, ../components/sass/_tribe.scss */
.tribes .tribediv .hiddenTribe li input[type=checkbox] {
  display: none;
}
/* line 83, ../components/sass/_tribe.scss */
.tribes .tribediv .hiddenTribe li label {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 0;
}
/* line 93, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead1 {
  background: #ff6666;
  box-shadow: inset 0 0 2.5px #d60000;
}
/* line 96, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead1 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #ff8f8f 15%, #ff2929 95%);
}
/* line 98, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead1 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #ffa3a3 15%, #ff4747 95%);
}
/* line 102, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead1 .tribetitle {
  color: cyan;
}
/* line 108, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead2 {
  background: #ffc966;
  box-shadow: inset 0 0 2.5px #d68b00;
}
/* line 111, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead2 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #ffd78f 15%, #ffac14 95%);
}
/* line 113, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead2 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #ffdfa3 15%, #ffbe47 95%);
}
/* line 117, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead2 .tribetitle {
  color: #005aff;
}
/* line 123, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead3 {
  background: #ffff99;
  box-shadow: inset 0 0 2.5px #d6d600;
}
/* line 126, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead3 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #ffffc2 15%, #ffff29 95%);
}
/* line 128, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead3 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #ffffa3 15%, #ffff47 95%);
}
/* line 132, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead3 .tribetitle {
  color: blue;
}
/* line 138, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead4 {
  background: #00e600;
  box-shadow: inset 0 0 2.5px #005700;
}
/* line 141, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead4 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #10ff10 15%, #00a900 95%);
}
/* line 143, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead4 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #24ff24 15%, #00c700 95%);
}
/* line 147, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead4 .tribetitle {
  color: purple;
}
/* line 153, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead5 {
  background: #6666ff;
  box-shadow: inset 0 0 2.5px #0000d6;
}
/* line 156, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead5 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #8f8fff 15%, #2929ff 95%);
}
/* line 158, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead5 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #a3a3ff 15%, #4747ff 95%);
}
/* line 162, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead5 .tribetitle {
  color: yellow;
}
/* line 168, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead6 {
  background: #8600e8;
  box-shadow: inset 0 0 2.5px #330059;
}
/* line 171, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead6 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #9b12ff 15%, #6300ab 95%);
}
/* line 173, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead6 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #a326ff 15%, #7400c9 95%);
}
/* line 177, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead6 .tribetitle {
  color: #378200;
}
@media screen and (max-width: 520px) {
  /* line 177, ../components/sass/_tribe.scss */
  .tribes .tribediv .tribehead6 .tribetitle {
    width: 75%;
  }
}
/* line 186, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead7 {
  background: #e600e6;
  box-shadow: inset 0 0 2.5px #570057;
}
/* line 189, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead7 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #ff10ff 15%, #a900a9 95%);
}
/* line 191, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead7 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #ff24ff 15%, #c700c7 95%);
}
/* line 195, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead7 .tribetitle {
  color: green;
}
/* line 201, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead8 {
  background: gold;
  box-shadow: inset 0 0 2.5px #d6b500;
}
/* line 204, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead8 .tribeorb8 {
  background: radial-gradient(circle 28px at 20px 40%, #ffed8f 15%, #ffdd29 95%);
}
/* line 206, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead8 .tribeorb8:hover {
  background: radial-gradient(circle 28px at 20px 40%, #fff1a3 15%, #ffe247 95%);
}
/* line 210, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead8 .tribetitle8 {
  color: #0028ff;
}
@media screen and (max-width: 520px) {
  /* line 210, ../components/sass/_tribe.scss */
  .tribes .tribediv .tribehead8 .tribetitle8 {
    width: 75%;
  }
}
/* line 219, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead9 {
  background: #dadada;
  box-shadow: inset 0 0 2.5px #acacac;
}
/* line 222, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead9 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #ffffff 15%, #d4d4d4 95%);
}
/* line 224, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead9 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #ffffff 15%, #e4e4e4 95%);
}
/* line 228, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead9 .tribetitle {
  color: silver;
}
/* line 234, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead10 {
  background: #2424ff;
  box-shadow: inset 0 0 2.5px #000057;
}
/* line 237, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead10 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #4343ff 15%, #0000dc 95%);
}
/* line 239, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead10 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #5757ff 15%, #0000fa 95%);
}
/* line 243, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead10 .tribetitle {
  color: olive;
}
/* line 249, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead11 {
  background: #b3b3b3;
  box-shadow: inset 0 0 2.5px #6c6c6c;
}
/* line 252, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead11 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #c7c7c7 15%, #949494 95%);
}
/* line 254, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead11 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #d2d2d2 15%, #a4a4a4 95%);
}
/* line 258, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead11 .tribetitle {
  color: gray;
}
/* line 264, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead12 {
  background: white;
  box-shadow: inset 0 0 3.5px #858585;
}
/* line 267, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead12 .tribeorb {
  background: radial-gradient(circle 28px at 20px 40%, #ebebeb 15%, #ffffff 95%);
}
/* line 269, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead12 .tribeorb:hover {
  background: radial-gradient(circle 28px at 20px 40%, #ffffff 15%, #ffffff 95%);
}
/* line 273, ../components/sass/_tribe.scss */
.tribes .tribediv .tribehead12 .tribetitle {
  color: #4d4d4d;
}

/*======Individual tribe styling======*/
