/*============LOGIN INFO STYLES============*/


#login {
  position: relative;
  .logsign {
    position: relative;
    height: 48px;
    margin:  0;
    

    
    /*BUTTONS*/

    .loginbtn {
      position: absolute;
      right: 24px;
      top: 12px;
      padding-top: 6px;
    }
    .signupbtn {
      position: absolute;
      right: 112px;
      top: 12px;
      padding-top: 6px;
    }
    .loginbtn, .signupbtn {
      display: inline-block;
      width: 72px;
      height: 24px;
      @extend %buttonStyle;


      &:hover {
        @extend %fontStyle;
        @extend %hoverStyle;
      }
    }
  }

  label {
    display: block;
    padding-left: 12.5%;
    margin-bottom: 8px;
    margin-top: 0;
    color: rgba(66,108,130,1);
    text-shadow: 1px 1px 1px rgba(255,255,255,.75);
  }
  input {
    display: block;
    width: 75%;
    height: 2em;
    margin: 0 auto;
    padding-left: 12px;
    color: rgba(62,35,76,.85);
    
    background: -webkit-linear-gradient(rgba(255, 255, 255,.90) 40%, rgba(255, 255, 255,.65) 60%);
    background: -o-linear-gradient(rgba(255, 255, 255,.90) 40%, rgba(255, 255, 255,.65) 60%);
    background: linear-gradient(rgba(255, 255, 255,.90) 40%, rgba(255, 255, 255,.65) 60%);
        
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    box-shadow: .5px .5px 1.5px rgba(94,153,184,.75),
                -.5px -.5px 1.5px rgba(94,153,184,.75);
    
    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px rgba(2,247,49,1),
                  inset 0px 0px 6px rgba(103,255,39,1);

    }
  } 
  .login {
    li:first-child {
      box-shadow:-0 -1px 0 rgba(255,255,255,.85), 
                -0 -2px 0 rgba(99,98,99,.75);
    }
    li:last-child {
      box-shadow: 0 1px 0 rgba(99,98,99,.85),
              0 2px 0 rgba(255,255,255,.75);
    }
  }
  .signHide {
    display: none; 
    li {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.logsignBox {
    box-shadow: 0px 1px 0px rgba(99,98,99,.85),
                0px 2px 0px rgba(255,255,255,.75);
  } 