
/*============TWELVE TRIBES INFO STYLES============*/

.tribes {
  .tribediv {
    @include clearfix;
    width: 100%;
    height: 100%;

    div {
      position: relative;
      width: 94%;
      height: 2.4em;
      margin: 3px 3%;

      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;

      box-shadow: 0 0 2px silver;
        
      
      span:first-child {
        position: absolute;
        left: 8px;
        top: -0.1em;
        width: 2.6em;
        height: 2.6em;
        text-align: center;
        padding: 9px;

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        box-shadow: 0 0 1.5px rgba(136,138,137,.50);
        /*transition: left 1s, color 1s ease-in-out, 1s;*/
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 1.5px rgba(136,138,137,1),
                      0 0 2.5px rgba(255,255,255, .50);
          
        }

      }

      span:last-child {
        float: right;
        width: 60%;
        margin: 0 auto;
        padding-top: 2px;

        text-align: center;

      }
    }


    /*============TWELVE TRIBES LIST=============*/
    
    .hiddenTribe {
      display: none;  
    }

    .tribeList {  
      display: block;
      width: 164px;
      margin: 0 12% 12px 0;
      float: right;
      border-radius: $listRadius;
      @media screen and (max-width: 500px) {
        margin-right: 7%;
      }
      li {
        width: 100%;
        height: 2.1em;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        text-align: center;
        @extend %fontStyle;
        color: darken($fontColor, 12%);
        
        &:first-child {
            border-radius: $listRadius $listRadius 0 0;
        }
        &:last-child {
          border-radius: 0 0 $listRadius $listRadius;
        }
        &:hover {
          @extend %hoverStyle; 
        }
        
        label { 
          display: block;
          width: 100; 
          height: 100%;       
          margin: 0 auto;
          padding: 6px 0;
          &:hover {
            cursor: pointer;
          }
        }
        input[type=checkbox] {
          display: none;
        }
        input[type=checkbox]:checked + label {
          background: mix($hoverColor, yellow);
          border-radius: $listRadius;
        }
      }
      
    }  
  
    /*============INDIVIDUAL TRIBE STYLES============*/

    .tribehead1 {
      background: lighten($tribe1, 20%);
      box-shadow: inset 0 0 2.5px  darken($tribe1, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe1, 28%) 15%, lighten($tribe1, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe1, 32%) 15%, lighten($tribe1, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe1);
      }
    }
    .tribe1 {
      background: linear-gradient(lighten($tribe1, 36%), lighten($tribe1, 24%));
      
    }
     

    .tribehead2 {
      background: lighten($tribe2, 20%);
      box-shadow: inset 0 0 2.5px darken($tribe2, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe2, 28%) 15%, lighten($tribe2, 4%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe2, 32%) 15%, lighten($tribe2, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe2);
      }
    }
    .tribe2 {
      background: linear-gradient(lighten($tribe2, 42%), lighten($tribe2, 24%));
      
    }

    .tribehead3 {
      background: lighten($tribe3, 12%);
      box-shadow: inset 0 0 2.5px darken($tribe3, 12%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe3, 38%) 15%, darken($tribe3, 3%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe3, 42%) 15%, lighten($tribe3, 10%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe3);
      }
    }
    .tribe3 {
      background: linear-gradient(lighten($tribe3, 42%), lighten($tribe3, 24%));
      
    }

    .tribehead4 {
      background: lighten($tribe4, 20%);
      box-shadow: inset 0 0 2.5px darken($tribe4, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe4, 28%) 15%, lighten($tribe4, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe4, 32%) 15%, lighten($tribe4, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe4);
      }
    }
    .tribe4 {
      background: linear-gradient(lighten($tribe4, 56%), lighten($tribe4, 34%));
      
    }

    .tribehead5 {
      background: lighten($tribe5, 20%);
      box-shadow: inset 0 0 2.5px darken($tribe5, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe5, 28%) 15%, lighten($tribe5, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe5, 32%) 15%, lighten($tribe5, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe5);
      }
    }
    .tribe5 {
      background: linear-gradient(lighten($tribe5, 36%), lighten($tribe5, 24%));
      
    }

    .tribehead6 {
      background: lighten($tribe6, 20%);
      box-shadow: inset 0 0 2.5px darken($tribe6, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe6, 28%) 15%, lighten($tribe6, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe6, 32%) 15%, lighten($tribe6, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe6);
        @media screen and (max-width: 520px) {
          width: 75%;
        }
      }
    }
    .tribe6 {
      background: linear-gradient(lighten($tribe6, 46%), lighten($tribe6, 34%));
      
    }

    .tribehead7 {
      background: lighten($tribe7, 20%);
      box-shadow: inset 0 0 2.5px darken($tribe7, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe7, 28%) 15%, lighten($tribe7, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe7, 32%) 15%, lighten($tribe7, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe7);
      }
    }
    .tribe7 {
      background: linear-gradient(lighten($tribe7, 56%), lighten($tribe7, 34%));
      
    }

    .tribehead8 {
      background: $tribe8;
      box-shadow: inset 0 0 2.5px darken($tribe8, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe8, 28%) 15%, lighten($tribe8, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe8, 32%) 15%, lighten($tribe8, 14%) 95%);
        }
      }
      .tribetitle8 {
        @extend %fontStyle;
        color: complement($tribe8);
        @media screen and (max-width: 520px) {
          width: 75%;
        }
      }
    }
    .tribe8 {
      background: linear-gradient(lighten($tribe8, 46%), lighten($tribe8, 24%));
      
    }

    .tribehead9 {
      background: lighten($tribe9, 10%);
      box-shadow: inset 0 0 2.5px darken($tribe9, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe9, 28%) 15%, lighten($tribe9, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe9, 40%) 15%, lighten($tribe9, 12%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe9);
      }
    }
    .tribe9 {
      background: linear-gradient(lighten($tribe9, 26%), lighten($tribe9, 4%));
      
    }

    .tribehead10 {
      background: lighten($tribe10, 32%);
      box-shadow: inset 0 0 2.5px darken($tribe10, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe10, 38%) 15%, lighten($tribe10, 18%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe10, 42%) 15%, lighten($tribe10, 24%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe10);
      }
    }
    .tribe10 {
      background: linear-gradient(lighten($tribe10, 40%), lighten($tribe10, 28%));
      
    }

    .tribehead11 {
      background: lighten($tribe11, 20%);
      box-shadow: inset 0 0 2.5px darken($tribe11, 8%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe11, 28%) 15%, lighten($tribe11, 8%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe11, 32%) 15%, lighten($tribe11, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: complement($tribe11);
      }
    }
    .tribe11 {
      background: linear-gradient(lighten($tribe11, 40%), lighten($tribe11, 24%));
      
    }

    .tribehead12 {
      margin-bottom: 12px;
      background: lighten($tribe12, 20%);
      box-shadow: inset 0 0 3.5px darken($tribe12, 48%);
      .tribeorb {
        background: radial-gradient(circle 28px at 20px 40%, lighten($tribe12, 2%) 15%, darken($tribe12, 4%) 95%);
        &:hover {
          background: radial-gradient(circle 28px at 20px 40%, lighten($tribe12, 32%) 15%, lighten($tribe12, 14%) 95%);
        }
      }
      .tribetitle {
        @extend %fontStyle;
        color: darken($tribe12, 70%);
      }
    }
    .tribe12 {
      background: linear-gradient(lighten($tribe12, 4%), darken($tribe12, 12%));
      
    }
  } 
}


  

