

$buttonRadius: 1.5px;
$buttonColor: rgba(94,153,184,.45);
$fontColor: rgba(68,110,133,.95);
$hoverColor: rgba(0,254,180, 1);

/*$buttonRadial: radial-gradient(circle, rgba(94,153,184,1), rgba(94,153,184,.5));
$inputLinear: linear-gradient(rgba(255, 255, 255,.90) 40%, rgba(255, 255, 255,.65) 60%);*/


/*Tribe colors*/

$tribe1: red;
$tribe2: orange;
$tribe3: yellow;
$tribe4: green;
$tribe5: blue;
$tribe6: indigo;
$tribe7: purple;
$tribe8: gold;
$tribe9: silver;
$tribe10: navy;
$tribe11: grey;
$tribe12: white;